body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #0f172a;
    color: white;
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.card {
    background: #1e293b;
    padding: 50px;
    border-radius: 15px;
    width: 320px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

h1 {
    text-align:center;
}

input, select {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 8px;
    border: none;
}

button {
    width: 100%;
    padding: 12px;
    background: #38bdf8;
    border: none;
    border-radius: 8px;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #0ea5e9;
}

.chart-box {
    width: 500px;
    background: #1e293b;
    padding: 20px;
    border-radius: 15px;
}